{% extends "global/base_navbar.html" %}

{% block logo %}
  <img src="https://i.imgur.com/yMemHRN.png" style="margin-right:1rem">
{% endblock logo %}

{% block itens %}
<!--adicionar itens no navbar-->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'listar_produtos' %}">Produtos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'listar_vendedores' %}">Vendedores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'listar_clientes' %}">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'listar_vendas' %}">Vendas</a>
  </li>
{% endblock itens %}