/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.btn-vendas i {
    font-size: 32px;
    /* Tamanho do ícone */
}

.btn-vendas {
    font-size: 18px;
    /* Tamanho do texto */
}

.decoration-none {
    text-decoration: none;
}

.home-btn {
    width: 150px;
    overflow-wrap: break-word;
}

.form-control-sm {
    font-size: 0.875rem;
    /* Font size smaller */
}

.btn-sm {
    font-size: 0.875rem;
    /* Font size smaller */
}

.w-49 {
    width: 49%;
}

.main-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Remove a sublinha do link */
}

.main-logo img {
    margin-right: 10px;
    /* Espaço entre o ícone e o texto */
}

.main-logo-text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
    margin-top:1rem;
}

.navbar-brand.text-logo-botton {
    padding: 0;
    font-size:28px;
    font-family: var(--font-headings);
    
}

.navbar-brand.text-logo-top{
    padding: 0;
    font-size:28px;
    font-family: var(--font-headings);
}





