
       <div style="display: grid; gap: 20px; grid-template-columns: 1fr 1fr;">
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Nome do produto:</label>
               {{ form.title }}
               {% include 'vendas/partials/form_field_errors.html' with errors=form.title.errors %}
           </div>

           <div>
                <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Referencia:</label>
                {{ form.reference }}
                {% include 'vendas/partials/form_field_errors.html' with errors=form.reference.errors %}
            </div>
   
 
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Tamanho:</label>
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                {{ form.size }}Selecionar
              </button>
  
               {% include 'vendas/partials/form_field_errors.html' with errors=form.size.errors %}
           </div>
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Cor:</label>
               {{ form.color }}
               {% include 'vendas/partials/form_field_errors.html' with errors=form.color.errors %}
           </div>
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Categoria:</label>
               {{ form.category }}
               {% include 'vendas/partials/form_field_errors.html' with errors=form.category.errors %}
           </div>
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Marca:</label>
               {{ form.mark }}
               {% include 'vendas/partials/form_field_errors.html' with errors=form.mark.errors %}
           </div>
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Gênero:</label>
               {{ form.gener }}
               {% include 'vendas/partials/form_field_errors.html' with errors=form.gener.errors %}
           </div>
   
           <div>
               <label style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Imagem:</label>
               {{ form.img }}
               {% include 'vendas/partials/form_field_errors.html' with errors=form.img.errors %}
           </div>
   

   
 
       </div>