{% extends "compras/partials/base.html" %}

{% block content %}
 
 
{% load static %}
<script src="{% static "compras/modals/modal_grade.js" %}"></script>


<div style="background-color: #f4f4f4; min-height: 50vh; display: flex; justify-content: center; align-items: center; padding: 10px;">
   <div style="background-color: #fff; border-radius: 10px; box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); width: 100%; max-width: 1400px; padding: 20px; text-align: left;">
       <h1 style="font-size: 2em; margin-bottom: 20px; color: #3498db;">Cadastro de Produto</h1>
        {% include "compras/pages/cadastro/produto/modals/modal_grade.html" %}
       <form action="{% url "compras:enviar_produto" %}" method="post">
           {% csrf_token %}
           <ul class="nav nav-tabs" id="myTab" role="tablist">
               <li class="nav-item" role="presentation">
                   <button class="nav-link active" id="aba-inicial-tab" data-bs-toggle="tab" data-bs-target="#aba-inicial" type="button" role="tab" aria-controls="aba-inicial" aria-selected="true">Produto</button>
               </li>
               <li class="nav-item" role="presentation">
                   <button class="nav-link" id="aba-comercial-tab" data-bs-toggle="tab" data-bs-target="#aba-comercial" type="button" role="tab" aria-controls="aba-comercial" aria-selected="false">Comercial</button>
               </li>
           </ul>

           <div class="tab-content shadow p-3 mb-5 bg-body rounded" id="myTabContent">
               <div class="tab-pane fade show active" id="aba-inicial" role="tabpanel" aria-labelledby="aba-inicial-tab">
                   {% include 'compras/pages/cadastro/produto/aba_produto.html' %}
               </div>
               <div class="tab-pane fade" id="aba-comercial" role="tabpanel" aria-labelledby="aba-comercial-tab">
                   {% include 'compras/pages/cadastro/produto/aba_comercial.html' %}
               </div>
           </div>
       </form>
       <div style="display: flex; align-items: flex-end;">
            <button class='btn btn-primary btn-lg' type="submit" style="margin-left: 150px;">Salvar</button>
            <button class='btn btn-danger btn-lg' type="button" onclick="location.href='{% url 'compras:compras_home' %}'" style="margin-left: 10px;">Sair</button>
        </div>
   </div>
</div>


 


{% endblock content %}
