{% extends "compras/partials/base.html" %}


{% block content %}

{% include "compras/partials/search_button.html" %}


<main class="main-content-container">
    <div class="main-content product-list container">


        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/600x400.png" alt="">
            </div>
            <div class="product-title-container">
                <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
            </div>

            <div class="product-tag">
                <a href="">
                    <span>Tipo</span>
                </a>
            </div>

            <div class="product-info">
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        verified_user
                        </span>
                    Marca
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        woman
                        </span>
                    Genero
                </span>
            </div>
        </div>
        
    </div>
</main>



{% endblock content %}
