{% extends "compras/partials/base.html" %}


{% block content %}

{% include "compras/partials/search_button.html" %}


<main class="main-content-container">
    <div class="main-content product-list container">


        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/600x400.png" alt="">
            </div>
            <h1>a</h1>
        </div>
        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/600x400.png" alt="">
            </div>
            <h1>a</h1>
        </div>
        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/600x400.png" alt="">
            </div>
            <h1>a</h1>
        </div>
    </div>
</main>



{% endblock content %}
