{% extends "compras/partials/base.html" %}


{% block content %}

{% include "compras/partials/search_button.html" %}


<main class="main-content-container">
    <div class="main-content product-list container">


        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/1280x720.png" alt="">
            </div>
            <div class="product-title-container">
                <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="product-info">
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        verified_user
                        </span>
                    Marca
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        wc
                        </span>
                    Genero
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        footprint
                        </span>
                    Tipo
                </span>
            </div>
            <footer class="product-footer">
                <a href=""> 
                    <span class="material-symbols-outlined">
                        visibility
                        </span> 
                    <span>Selecionar</span>
                </a>
            </footer>
        </div>

        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/1280x720.png" alt="">
            </div>
            <div class="product-title-container">
                <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="product-info">
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        verified_user
                        </span>
                    Marca
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        wc
                        </span>
                    Genero
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        footprint
                        </span>
                    Tipo
                </span>
            </div>
            <footer class="product-footer">
                <a href=""> 
                    <span class="material-symbols-outlined">
                        visibility
                        </span> 
                    <span>Selecionar</span>
                </a>
            </footer>
        </div>

        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/1280x720.png" alt="">
            </div>
            <div class="product-title-container">
                <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="product-info">
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        verified_user
                        </span>
                    Marca
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        wc
                        </span>
                    Genero
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        footprint
                        </span>
                    Tipo
                </span>
            </div>
            <footer class="product-footer">
                <a href=""> 
                    <span class="material-symbols-outlined">
                        visibility
                        </span> 
                    <span>Selecionar</span>
                </a>
            </footer>
        </div>

        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/1280x720.png" alt="">
            </div>
            <div class="product-title-container">
                <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="product-info">
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        verified_user
                        </span>
                    Marca
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        wc
                        </span>
                    Genero
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        footprint
                        </span>
                    Tipo
                </span>
            </div>
            <footer class="product-footer">
                <a href=""> 
                    <span class="material-symbols-outlined">
                        visibility
                        </span> 
                    <span>Selecionar</span>
                </a>
            </footer>
        </div>

        <div class="product product-list-item">
            <div class="product-cover">
                    <img src="https://placehold.co/1280x720.png" alt="">
            </div>
            <div class="product-title-container">
                <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="product-info">
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        verified_user
                        </span>
                    Marca
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        wc
                        </span>
                    Genero
                </span>
                <span class="product-info-item">
                    <span class="material-symbols-outlined">
                        footprint
                        </span>
                    Tipo
                </span>
            </div>
            <footer class="product-footer">
                <a href=""> 
                    <span class="material-symbols-outlined">
                        visibility
                        </span> 
                    <span>Selecionar</span>
                </a>
            </footer>
        </div>
        
    </div>
</main>



{% endblock content %}
