{% extends 'vendas/partials/base.html' %}

{% block content %}
  <h3>Bem vindo</h3>
  <button onclick="clearLocalStorage()">Limpar localStorage (ferramenta DEV)</button>
  <div class="d-flex gap-4 flex-wrap justify-content-center">
    <a href="{% url 'listar_produtos' %}" class="decoration-none home-btn text-center text-dark border rounded p-4">Produtos</a>
    <a href="{% url 'listar_vendedores' %}" class="decoration-none home-btn text-center text-dark border rounded p-4">Vendedores</a>
    <a href="{% url 'listar_clientes' %}" class="decoration-none home-btn text-center text-dark border rounded p-4">Clientes</a>
    <a href="{% url 'listar_vendas' %}" class="decoration-none home-btn text-center text-dark border rounded p-4">Vendas</a>
  </div>

<script>
  function clearLocalStorage(){
    localStorage.clear();
  }


</script>
{% endblock %}
