{% extends "global/base_navbar.html" %}

{% block logo %}
  <img src="https://i.imgur.com/yMemHRN.png" style="margin-right:1rem">
{% endblock logo %}

{% block itens %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cadastros
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{%url "compras:cadastrar_marca"%}">Marca</a>
      <a class="dropdown-item" href="">Categoria</a>
    </div>
  </li>
{% endblock itens %}