<div class="product product-list-item">
    <div class="product-cover">
        <a href="{% url "compras:product" product.id%}">
            <img src={{product.cover.url}} alt="">
            </a>
    </div>
    <div class="product-title-container">
        <a href="{% url "compras:product" product.id%}">
            <h2>{{product.title}}</h2>
        </a>
    </div>

    <div class="product-info">
        <span class="product-info-item">
            <span class="material-symbols-outlined">
                verified_user
                </span>
            {{product.mark}}
        </span>
        <span class="product-info-item">
            <span class="material-symbols-outlined">
                wc
                </span>
            {{product.gender}}
        </span>
        <span class="product-info-item">
            <span class="material-symbols-outlined">
                footprint
                </span>
            {{product.type}}
        </span>
    </div>
    <footer class="product-footer">
        <a href="{% url "compras:product" product.id %}"> 
            <span class="material-symbols-outlined">
                visibility
                </span> 
            <span>Selecionar</span>
        </a>
    </footer>
</div>