{% extends "ShoeStore/partials/base.html" %} 


{% block content %}
    <div class="container-module">
        <div class="grid-module-external"> 
            <img src="https://i.imgur.com/X9uFdJR.png" alt="">
            <div class="grid-module-interne">
                <div class="module-card ">Administrar</div>
                <a href="vendas/" class="module-card ">Vendas</a>
                <a href="compras/" class="module-card">Compras</a>
                <div class="module-card ">Financeiro</div>
            </div>
        </div>
    </div>
{% endblock content %}
