{% include "ShoeStore/partials/head.html" %}

<body>
    {%include "ShoeStore/partials/header.html" %}

    <div class="main-content container">
        <div class="main-content main-content-list container">
            <div class="module module-list-item">
                <div class="module module-cover">
                    <img src="https://placehold.co/400x400/black/white.png" alt="">
                </div>
                <div class="module-title-container">
                    <h2 class="recipe-title">Administração</h2>
                </div>
            </div>
            <div class="module module-list-item">
                <div class="module module-cover">
                    <img src="https://placehold.co/400x400/black/white.png" alt="">
                </div>
                <div class="module-title-container">
                    <h2 class="recipe-title">Vendas</h2>
                </div>
            </div>
            <div class="module module-list-item">
                <div class="module module-cover">
                    <img src="https://placehold.co/400x400/black/white.png" alt="">
                </div>
                <div class="module-title-container">
                    <h2 class="recipe-title">Compras</h2>
                </div>
            </div>
            <div class="module module-list-item">
                <div class="module module-cover">
                    <img src="https://placehold.co/400x400/black/white.png" alt="">
                </div>
                <div class="module-title-container">
                    <h2 class="recipe-title">Financeiro</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>l