{% extends "global/base.html" %}

{% block title %}Modulos|Calçados Bilu{% endblock title %}

{% block navbar %}
{%include "ShoeStore/partials/navbar.html"%}
{% endblock navbar %}


{% block content %}
    <div class="container-module">
            <div class="grid-module">
                <div class="card">Administração</div>
                <div class="card">Vendas</div>
                <div class="card">Compras</div>
                <div class="card">Financeiro</div>
        </div>
    </div>
{% endblock content %}
