<form method="post">
    {% csrf_token %}

    <div style="display: grid; gap: 20px; grid-template-columns: 1fr 1fr;">

        <div style="grid-column: span 1 ;">
            <label for="id_nome" style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Nome:</label>
            {{ form.nome }}
            {% include 'vendas/partials/form_field_errors.html' with errors=form.nome.errors %}
        </div>

        <div style = "margin-left:50px;">
            <label for="id_matricula" style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Matrícula:</label>
            {{ form.matricula }}
            {% include 'vendas/partials/form_field_errors.html' with errors=form.matricula.errors %}
        </div>

        <div style="display: grid; gap: 50px; grid-template-columns: repeat(3, 1fr);grid-column: span 2 ;">
            <div>
                <label for="id_data_nascimento" style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Data de Nascimento:</label>
                {{ form.data_nascimento }}
                {% include 'vendas/partials/form_field_errors.html' with errors=form.data_nascimento.errors %}
            </div>

            <div>
                <label for="id_cpf"style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">CPF:</label>
                {{ form.cpf }}
                {% include 'vendas/partials/form_field_errors.html' with errors=form.cpf.errors %}
            </div>

            <div>
                <label for="id_data_contratacao" style="font-size: 1.2em; color: #333; margin-bottom: 5px; display: block;">Data de Contratação:</label>
                {{ form.data_contratacao }}
                {% include 'vendas/partials/form_field_errors.html' with errors=form.data_contratacao.errors %}
            </div>
        </div>

        <div style="display: flex; align-items: flex-end; margin-top: 20px;">
            <button class='btn btn-primary btn-lg' type="submit" style="margin-left: auto;">Salvar</button>
            <button class='btn btn-danger btn-lg' type="button" onclick="location.href='{% url 'listar_vendedores' %}'" style="margin-left: 10px;">Sair</button>
        </div>
    </div>

</form>